.content{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto;

    button{
        cursor: pointer;
        margin-top: 25%;
        width: 220px;
        height: 40px;
        border: 1.5px solid var(--green-500);
        border-radius: 50rem;
        background-color: var(--blue-800);
        box-shadow: 1px 1px 5px 1px var(--green-500);
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: 'Silkscreen', cursive;
    }

    img{
        width: 100%;
    }
}